.submit_button {
    border: 2px solid #c9bba1;
    border-radius: 15px;
    margin-left: 40%;
    width: 200px;
    height: 30px;
    background-color: rgba(242, 227, 204, 0.6);
    transition-duration: 0.5s;
    font-weight: bold;
}
.submit_button:hover {
    background-color: #c9bba1
}
.label_input {
    font-size: 18px;
    font-weight: bold;
    width: 17%;
    display: inline-block;
    box-sizing: border-box;

}
.input_element {
    border: 2px solid #c9bba1;
    border-radius: 15px;
    margin-left: 50px;
    height: 30px;
    width: 30%;
    font-weight: bold;
    padding-left: 20px;
    background-color: rgba(242, 227, 204, 0.6);
    font-size: 15px;

}
.input_social {
    padding-left: 20px;
    border: 2px solid #c9bba1;
    border-radius: 15px;
    margin-left: 50px;
    height: 30px;
    width: 50%;
    font-weight: bold;
    background-color: rgba(242, 227, 204, 0.6);
    font-size: 15px;
}
.block {

}

.block__row{
    border: 3px solid #c9bba1;
    border-radius: 15px;
    width: 900px;
    margin-top: 128px;
    padding-top: 30px;
    height: 270px;
    background-color: rgba(242, 227, 204, 0.6);
}

.block__element{
    margin-left: 50px;
    height: 50px;
    width: 1000px;
    transition-duration: 0.5s;
}
