.container {
    font-family: 'Roboto';
    font-style: normal;
    color: black;
    margin-left: 47px;
}
.label {
    position: relative;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}

.input {
    width: 0px;
    border-radius: 15px;
    border: 3px solid #C08767;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background-color: #C08767;
}

.input:focus {
    border-bottom: 4px solid #C08767;
}
.customFileInput {
    display: none;
}
.imgAvatar {
    margin-top: 5px;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    display: block;
    margin-bottom: -50px;
}

.customFileInputLabel {
    cursor: pointer;
    margin-left: 150px;
    height: 22px;
    font-size: 20px;
    color: #C08767;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;

    border: 3px solid #C08767;
}